<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{doc_title}}</title>
	<meta name="description" content="{{doc_subtitle}}">
	<meta name="author" content="Daniel Florescu">
</head>
<body>
	<h1>{{doc_title}}</h1>
	<h3>{{doc_subtitle}}</h3>
	{{#doc_content}}
		{{#p_content}}
			<p>
			{{p_content}}
			</p>
		{{/p_content}}
		{{#img_src}}
			<img width="600" src="{{img_src}}" alt="{{img_alt}}" />
		{{/img_src}}
		{{#h2_content}}
			<h4>{{h2_content}}</h4>
		{{/h2_content}}
		{{#list_isalist}}
			<ul>
				{{#list_children}}
					<li>{{content}}</li>
				{{/list_children}}
			</ul>
		{{/list_isalist}}
	{{/doc_content}}

</body>
</html>